// Variables & Imports

// Imports
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/fzd8gzg.css"); // Input Mono

// Variables
$font-family: 'Poppins', sans-serif; 
$font-color: #1f1f1f;
$font-size: 4vmin;
$header-font: 'Lato', sans-serif;
$menu-font: input-mono, monospace;
$menu-size: 2.5vmin;
$menu-color: rgba(0,0,0,0.2);
$code-font: input-mono, monospace;
$code-size: 2vmin;
$background-color: #EEEDE7;
$primary-accent: #A5CAC1;
$secondary-accent: #5F5B6B;
$controls-color: #B9B59C;

$dark-bg: $secondary-accent;
$dark-color: #EFEFEF;