/**
 * Author: Daniel, based on Walther's Blood theme http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
**/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
	color: #EBEBEB;
}

/*********************************************
   * GLOBAL STYLES
*********************************************/

 :root {
	--background-color: #EBEBEB;
	--main-font: 'Lato', sans-serif;
	--main-font-size: 20pt;
	--main-font-weight: 600;
    --main-color: #333;
    --primary-accent: #326273 ; /* lighter: 5C9EAD */
    --secondary-accent: #CC2936;
	--text-accent: #ebc747;
	--code-font: 'Fira Code', monospace;
	--code-size: 18pt;
	--block-margin: 0;
	--heading-margin: 0 0 20px 0;
	--heading-font: 'Open Sans', sans-serif;
	--heading-color: #333;
	--heading-line-height: 1.2;
	--heading-letter-spacing: normal;
	--heading-text-transform: none;
	/*--heading-text-shadow: 2px 2px 2px #EBEBEB;*/
	--heading-font-weight: 800;
	--heading1-text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
	--heading1-size: 3.77em;
	--heading2-size: 2.11em;
	--heading3-size: 1.55em;
	--heading4-size: 1em;
	--link-color: #a23;
	--link-color-hover: #dd5566;
	--selection-background-color: #ca5847; /* was #E896C1 */
	--selection-color: #fff;
}

/* CUSTOM */
.lines {
	background: repeating-linear-gradient(45deg,#606dbc,#606dbc 50px,#465298 50px,#465298 100px);
}

.vcenter {
	position: fixed;
	margin: 0;
  	top: 50%;
  	transform: translateY(-50%);
}

.hcenter {
	text-align: center;
}

.fullcenter {
	position: fixed;
	width: 100%;
  	top: 50%;
	left: 50%;
  	transform: translate(-50%,-50%);
	text-align: center;
}

.footnote {
	font-size: 10pt;
	width: 60%;
}

.accent {
	color: var(--primary-accent);
}

.accent2 {
	color: var(--secondary-accent);
}

.italic {
	font-style: italic;
}

.small {
	font-size: 16pt;
}

.tiny {
	font-size: 12pt;
}

.inline {
	display: inline;
}

.reveal li {
	padding-bottom: 1.5em;
}

/*img:hover {
	filter: brightness(90%);
	transition: 0.5s ease-in-out;
}

img .nohighlight:hover {
	filter: none;
}*/

.row {
	display: flex;
}
  
.column {
	padding: 5px;
	text-align: center;
}

figcaption {
	font-size: 8pt;
	font-style: italic;
	color: grey;
}

.art {
	font-family: 'Oleo Script', serif !important;
	font-size: 52pt !important;
}

.glass {
	text-align: center;
	background-color: rgba(180, 180, 180, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	-ms-backdrop-filter: blur(5px);
	box-shadow: 2px 2px 2px rgb(255, 255, 255, 0.2);
}

.layer {
	object-fit: cover;
	opacity: 0.6;
}

.socials {
	display: block;
	font-size: 22pt;
}
.socials a {
	display: block;
	color: var(--main-color) !important;
}
.socials a:hover {
	color: var(--primary-accent) !important;
}
.socials i {
	padding-right: 0.5em;
}

/* `dark` settings */

.reveal-viewport .dark {
	background: #333;
	background-color: #333;
	font-family: 'Oleo Script';
	font-size: 25pt;
	color: #eee;
}

.reveal .dark h1,
.reveal .dark h2,
.reveal .dark h3,
.reveal .dark h4,
.reveal .dark h5,
.reveal .dark h6 {
	font-family: 'Open Sans', sans-serif;
	color: var(--text-accent);
}

.reveal .dark h1 {
	font-size: 72pt;
}
.reveal .dark h2 {
	font-size: 60pt;
}

/* Animated text block */

/*@keyframes animationgradienttitle {
	0% {
	  background-position: 0 1600px;
	}
	100% {
	  background-position: 1600px 0;
	}
}

.animated-text {
	font-size: 36pt !important;
	color: #fc3735;
	background: -webkit-linear-gradient(left, #f57170, #10ddc2, #f57170);
	background-size: 80% 80%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-duration: 1s;
	animation-name: animationgradienttitle;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}*/


.animated-text {
	font-size: 46pt !important;
	animation-name: flash;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	}
	@keyframes flash {
	50%, from, to {
	  opacity: 1;
	}
	25%, 75% {
	  opacity: 0;
	}
}

/* Reveal settings */

.reveal .slides section .fragment.highlight-accent {
	opacity: 1;
	visibility: inherit;
}
	.reveal .slides section .fragment.highlight-accent.visible {
		color: var(--primary-accent)
	}

	.reveal .slides section .fragment.highlight-current-accent.current-fragment {
		color: var(--primary-accent)
	}


.reveal-viewport {
	background: var(--background-color);
    background-color: var(--background-color);
}

.reveal {
	font-family: var(--main-font);
	font-size: var(--main-font-size);
	font-weight: var(--main-font-weight);
	color: var(--main-color);
}

.reveal ::selection {
	color: var(--main-color);
	background: var(--text-accent);
	text-shadow: none;
}

.reveal ::-moz-selection {
	color: var(--main-color);
	background: var(--primary-accent);
	text-shadow: none;
}

.reveal .slides section,
.reveal .slides section>section {
	line-height: 1.3;
	font-weight: inherit;
}

.reveal .slides {
	text-align: left;
}

/*********************************************
   * HEADERS
*********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	/*-webkit-transform-origin-x: 0;*/
	margin: var(--heading-margin);
	font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    color: var(--heading-color);
	line-height: var(--heading-line-height);
	letter-spacing: var(--heading-letter-spacing);
	text-transform: var(--heading-text-transform);
	text-shadow: var(--heading-text-shadow);
	word-wrap: break-word;
}

.reveal h1 {
    font-size: 52pt;
    font-weight: 800;
    letter-spacing: 2pt;
	padding: 0.5em 0 0.5em 0;
}

.reveal h2 {
	font-size: 40pt;
	letter-spacing: 2pt;
}

.reveal h3 {
	font-size: 32pt;
}

.reveal h4 {
	font-size: 24pt;
}

/*.reveal h1 {
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}*/

.reveal h2.vertical {
	position: absolute;
	transform: translateX(-100%) rotate(-90deg);
	transform-origin: right;
	top: 20%;
}


/*********************************************
   * OTHER
*********************************************/

.reveal p {
	margin: 20px 0;
    line-height: 1.3;
    text-align: left;
}


/* Remove trailing margins after titles */

.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
	margin-bottom: 0;
}


/* Ensure certain elements are never larger than the slide itself */

.reveal img,
.reveal video,
.reveal iframe {
	max-width: 95%;
	max-height: 95%;
}

.reveal strong,
.reveal b {
	font-weight: bold;
}

.reveal em {
	font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
	display: inline-block;
	text-align: left;
}

.reveal ol {
	list-style-type: decimal;
}

.reveal ul {
	list-style-type: disc;
}

.reveal ul ul {
	list-style-type: square;
}

.reveal ul ul ul {
	list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	display: block;
	margin-left: 40px;
}

.reveal dt {
	font-weight: bold;
}

.reveal dd {
	margin-left: 40px;
}

.reveal blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: 20px auto;
	padding: 5px;
	font-style: italic;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
	display: inline-block;
}

.reveal q {
	font-style: italic;
}

.reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 20px auto;
	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.4em;
	word-wrap: break-word;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
	font-family: var(--code-font);
	text-transform: none;
}

.reveal pre code {
	display: block;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
	background-color: #333;
}

.reveal table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.reveal table th {
	font-weight: bold;
}

.reveal table th,
.reveal table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
	vertical-align: middle;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
	text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
	text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
	border-bottom: none;
}

.reveal sup {
	vertical-align: super;
	font-size: smaller;
}

.reveal sub {
	vertical-align: sub;
	font-size: smaller;
}

.reveal small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}

.reveal small * {
	vertical-align: top;
}

/*********************************************
   * LINKS
*********************************************/

.reveal a {
	color: var(--primary-accent);
	text-decoration: none;
	transition: color .15s ease;
}

.reveal a:hover {
	color: #5c9ead;
    transition: all .5s ease;
}

.reveal .roll span:after {
	color: #fff;
	background: #6a1520;
}


/*********************************************
   * Frame helper
*********************************************/

.reveal .r-frame {
	border: 4px solid #000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
	transition: all .15s linear;
}

.reveal a:hover .r-frame {
	border-color: #a23;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}


/*********************************************
   * NAVIGATION CONTROLS
*********************************************/

.reveal .controls {
	color: var(--primary-accent);
}


/*********************************************
   * PROGRESS BAR
*********************************************/

.reveal .progress {
	background: rgba(0, 0, 0, 0.2);
	color: var(--primary-accent);
	height: 5px;
}


/*********************************************
   * PRINT BACKGROUND
*********************************************/

@media print {
	.backgrounds {
		background-color: var(--background-color);
	}
}

.reveal p {
	font-weight: 300;
	text-shadow: 1px 1px #222;
}

section.has-light-background p,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4 {
	text-shadow: none;
}

/*.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	font-weight: 700;
}*/

.reveal p code {
	font-family: var(--code-font) !important;
	background-color: #23241f;
	display: inline-block;
	border-radius: 7px;
}

.reveal small code {
	vertical-align: baseline;
}
